@import "components/header";
@import "components/button";
@import "components/footer";
@import "components/hero";
@import "pages/main";
@import "pages/menu";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@font-face {
  font-family: 'Funky';
  src: url('/fonts/KeeponTruckin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Funkorama';
  src: url('/fonts/Funkorama.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  --main-orange: #e56533;
}

body {
  margin: 0;
  position: relative;
  color: black;
  box-sizing: border-box;
  background-color: #497e76;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100vw;
  overflow-x: hidden;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}


.hide-on-mobile {
  @media (max-width: 767px){
    display: none;
  }
}

.hide-on-desktop {
  @media (min-width: 767px){
    display: none;
  }
}

a {
  transition: all 200ms ease-in ;
}

a:hover {
  color: var(--main-orange);
}

.holy-text-orange {
  color: var(--main-orange);
}