@import "components/header";
@import "components/button";
@import "components/footer";
@import "components/hero";
@import "pages/main";


:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  color: black;
  box-sizing: border-box;
  background-color: #497e76;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100vw;
}


.hide-on-mobile {
  @media (max-width: 767px){
    display: none;
  }
}

.hide-on-desktop {
  @media (min-width: 767px){
    display: none;
  }
}