.holy-hero {
  position: relative;
  height: 98vh;
  border: 1px solid transparent;
  background-image: url('https://images.unsplash.com/photo-1694501522412-c64e5e3ae782?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__logo {
    display: flex;
    justify-content: center;
    margin-top: 80px;

    img {
      width: 90%;
      @media (min-width: 767px) {
        width: 40%;
      }
    }
  }
  &__footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    display: flex;
    align-items: center;
    padding: .6rem;
    justify-content: space-between;
  }

  &__center {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    padding: .6rem;
  }
}