.holy-menu {
    margin-top: 72px;
    padding: 1.3rem;
    display: flex;
    justify-content: center;

    &__container {
        width: 100%;
        @media (min-width: 760px) {
            width: 60%;
        }

        @media (min-width: 1040px) {
            width: 50%;
        }
    }

    &__item-title {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}